
.sf-menu{
	font-size:0;
	line-height:0;
	height:85px;
	padding:0;
	margin:0;
	position:relative;
}
.sf-menu ul{
	position:absolute;
	top:-999em;
	width:208px;
	left:0;
	display:none;
	margin:0;
}
.sf-menu > li{
	float:left;
	position:relative;
	padding:0;
	background:url(../images/nav-separator.gif) no-repeat 0 0;
}
	.sf-menu > li.first {background:none; border-radius:6px 0 0 0;}
.sf-menu > li > a {
	text-decoration:none;
	display:block;
	font-size:14px;
	line-height:18px;
	color:#fdfcf9;
	font-weight:bold;
	position:relative;
	padding:33px 29px 34px 29px;
	letter-spacing:-1px;
	letter-spacing:0\0/;
	padding:33px 28px 34px 27px\0/;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	white-space:nowrap;
	word-spacing:-1px;
	text-shadow:0 0 1px #fdfcf9;
}
	.sf-menu > li:first-child > a {padding:33px 30px 34px 29px;}
	.sf-menu > li.last {border-radius:0 6px 0 0; }
	.sf-menu > li.last > a {padding:33px 32px 34px 32px;}
	.sf-menu > li:hover, .sf-menu > li.sfHover, .sf-menu > li.current {background:url(../images/nav-active-tail.gif) repeat-x 0 0;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul{top:85px; left:0;z-index:99;}
.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999em}
.sf-menu li.current,.sf-menu li:hover,.sf-menu li.sfHover{
	text-decoration:none;
}
.sf-menu li li a{
	display:block;
	margin:0;
	position:relative;
	text-decoration:none;
	font-size:14px;
	line-height:18px;
	color:#fdfcf9;
	padding:11px 5px 11px 24px;
	font-family:Arial, Helvetica, sans-serif;
	background:#271f27;
	overflow:hidden;
}
	.sf-menu li li.last a {border-radius:0 0 6px 6px;}
.sf-menu li li a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a{background:#352c34;}
.sf-menu li li{
	float:none;
	position:relative;
	padding:0;
	border-top:1px solid #352c34;
	margin:0;
	display:block;
	width:100%;
}
.sf-menu li li:first-child {border:none;}
.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:214px;top:0px;}
.sf-menu li li li {
	border-top:1px solid #b7da27;
}
	.sf-menu li li li a {
		background: url(../images/sub-menu2-tail.gif) repeat-x 0 -41px #9bc31b;
		text-shadow:0 0 2px rgba(0,0,0,.4);
	}
		.sf-menu li li li:first-child a {border-radius:6px 6px 0 0;}
		.sf-menu li li li.last a {border-radius:0 0 6px 6px;}
		.sf-menu li li li a:hover, .sf-menu li li li.current > a {background:url(../images/sub-menu2-tail.gif) repeat-x 0 0;}